<div class="container">

    <div class="footer-container">
        <h1 class="secondary text-glow">Desing System Cyber</h1>

<button routerLink="/" class="btn btn-unbordered"><p class="info text-glow-2">Back</p></button>
    </div>
    
    <div class="section-container simply-container">

    <h2 class="light w-full center">Texts</h2>
    <hr class="bg-primary w-full">
    <h3 class="light w-full left">paragraphs</h3>
    
    <p class="light">Cyber light</p>

    <p class="secondary text-glow-5">Cyber secondary</p>

    <p class="danger text-glow-4">Cyber warning</p>

    <p class="success text-glow-3">Cyber success</p>

    <p class="info text-glow-2">Cyber info</p>

    <p class="warning text-glow-1">Cyber warning</p>

    <p class="disabled">Cyber disabled</p>

    <p class="primary text-glow-4">Cyber primary</p>

    <hr class="bg-primary w-full">
    <h3 class="light w-full left">Titles</h3>

    <h1 class="primary text-glow-2">Ghost in the Shell</h1>

    <h2 class="secondary text-glow-5">Cyberpunk 2077</h2>

    <h3 class="danger text-glow-4">Nightcall</h3>

    <h4 class="success text-glow-3">Matrix</h4>

    <h5 class="info text-glow-2">Cyberpunk 2077</h5>

    <h6 class="disabled">Cyberpunk 2077</h6>

    </div>

    

    <div class="section-container simply-container">
        <h2 class="light w-full center">Buttons</h2>
        <button class="btn btn-base animated-button">Neon Button</button>
        <button class="btn btn-info">See more</button>
        <button class="btn btn-edit">Edit Button</button>
        <button class="btn btn-delete">Delete Button</button>
        <button class="btn btn-disabled">Disabled Button</button>
    </div>
</div>
